<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
    </head>
    <body class="bg-dark bg_gradient">
        {% block body %}{% endblock %}
    </body>
</html>